@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.main-header .top-header .contact-header a
		font-size: 1em
	.main-header .owl-home .item .slide-content .transparent-text
		font-size: 80px
		right: 0
		margin-right: 0
	.section-title .transparent-text
		left: 20px !important
		margin: 0 !important
		top: -40px
		font-size: 60px
	.about .about-img::before
		right: -40px
// ≥992px
+media-breakpoint-down(md)
	.main-header
		padding-bottom: 0
	.main-navigation
		display: none
	.contact-header a
		display: none
	.contact-header a:first-child
		display: block
	.ml86
		margin-left: 0
	.home .main-header .owl-home .item, .home .main-header
		height: 515px
	.home .main-header .owl-dots-wrap
		bottom: 24px
	.home .main-header .owl-home .item .slide-content
		padding-left: 50px
		padding-right: 50px
		width: 75%
		h2
			font-size: 2em
		.transparent-text
			font-size: 50px
			margin-top: -25px
			margin-right: 10px
	a.btn
		font-size: 1em
		padding: 10px 20px
	.how-to-order-text
		padding-left: 70px
	.main-footer .footer-nav ul li
		margin-right: 10px
	.download-app
		display: inline-block
		margin-bottom: 5px
	#ya-map
		height: 370px
// ≥768px
+media-breakpoint-down(sm)
	.main-header .top-header .custom-logo-link
		width: 100px
		img
			width: 100%
	#open-mobile-menu
		margin-top: 4px
	.main-header .top-header .contact-header
		padding-top: 4px
	.home .main-header, .home .main-header .owl-home .item
		height: 300px
	.home .main-header .owl-home .item .slide-content
		padding: 10px 20px
		width: 95%
		margin-top: 0
		h2
			font-size: 16px
			margin-bottom: 2px
		p, .btn
			font-size: 13px
		p
			margin-bottom: 10px
		a.btn
			margin-top: 0
		.transparent-text
			font-size: 36px
			margin-top: -20px
	.home .main-header .owl-dots-wrap .owl-dot
		margin-right: 0
		padding: 3px
		font-weight: normal
		font-size: 8px
		&.active
			font-size: 12px
			font-weight: 600
	.about
		padding: 40px 0 0
		.section-title
			margin-bottom: 4px
		.row:nth-child(2)
			flex-direction: column-reverse
		p
			padding-right: 0
			margin-bottom: 1em
		.about-img
			text-align: center
			margin-bottom: 40px
			&::before
				z-index: 10
				top: -20px
				right: -15px
				height: 50%
	.section-title
		font-size: 1.125em
		.transparent-text
			font-size: 2.000em
			top: -20px
			left: auto !important
			right: 15%
	.how-to-order
		padding: 24px 0 4px
	.how-to-order-text
		margin-bottom: 24px
		h3
			font-size: 1em
		p
			font-size: 0.875em
	.delivery
		padding: 36px 0 0
		.section-title
			margin-bottom: 0
		.delivery-item
			height: auto
			box-shadow: none
	.delivery-condition .delivery-condition-content
		padding-bottom: 0
		padding-left: 15px
		padding-right: 15px
		ul li
			padding-left: 35px
	.payment
		padding: 22px 0 32px
		background: none
		position: relative
		&::after
			content: ""
			background: url(../img/payment-bg.jpg) 85% top no-repeat
			opacity: 0.2
			top: 0
			left: 0
			bottom: 0
			right: 0
			position: absolute
			z-index: -1
		.section-title
			margin-bottom: 26px
		.payment-item
			margin-bottom: 32px
			img
				width: 40px
				height: 40px
			.payment-item-content h3
				font-size: 1em
				margin-bottom: 0
			.payment-item-content p
				font-size: 0.875em
		a.btn
			margin-top: 5px
	.main-footer .container > .row:first-child
		flex-direction: column-reverse
	.main-footer .footer-nav, .main-footer .social
		text-align: left
	.main-footer a.custom-logo-link
		margin-top: 35px
	.page-title-cover .page-title
		font-size: 1.875em
		.transparent-text
			font-size: 1.600em
			margin-top: 40px
	.hidden-content
		padding-left: 30px
		padding-right: 30px
	.testimonial-inner
		padding-left: 0
		padding-top: 112px
		.testimonial-image
			left: 50%
			margin-left: -51px
			top: 10px
	.mobile-app__logo
		margin-right: 20px
	.mobile-app__btn
		font-size: 1em
// ≥576px
+media-breakpoint-down(xs)
	#open-mobile-menu
		margin-right: 15px
	.delivery-condition::before
		display: none
	.main-header .top-header .contact-header a
		font-size: 14px
	.hidden-content
		padding-left: 15px
		padding-right: 15px
		.size-big-thumb-product
			margin-bottom: 10px
		.entry-content
			margin-bottom: 20px
		h3
			font-size: 2em
			margin-bottom: 15px
		.product-data
			padding-bottom: 30px
			display: block
			text-align: center
			margin-bottom: 15px
			.product-attribute
				margin-bottom: 25px
	.mobile-app__btn
		font-size: .7em
		text-align: center
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)
// ≤992px
+media-breakpoint-up(lg)
	.mobile-app
		display: none !important
	#open-mobile-menu
		display: none
	.mobile-menu
		display: none !important
// ≤1200px
+media-breakpoint-up(xl)
