@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&subset=cyrillic')
@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #252525
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

/* links */
a:link, a:visited
	color: #fff
	outline: none
	text-decoration: none
a:hover
	color: #fff

// HEADER
.main-header
	position: relative
	counter-reset: dot
	background-color: #1b1b1b
	padding-bottom: 26px
	.top-header
		padding-top: 14px
		padding-bottom: 19px
		.custom-logo-link
			float: left
		.contact-header
			float: right
			padding-top: 11px
			a
				color: #fff
				font-weight: 500
				font-size: 1.500em
				span
					font-weight: normal
				.fas
					color: $accent
					margin-right: 10px
				.fa-map-marker-alt
					margin-left: 9px
			.social
				font-weight: normal
				.fab
					vertical-align: middle
				.fa-vk
					margin-left: 20px
					margin-right: 12px
	.main-nav
		float: left
		margin-left: 30px
		margin-top: 19px
		ul
			margin: 0
			list-style: none
			padding: 0
			li
				display: inline-block
				margin-left: 55px
				&:first-child
					margin-left: 0
				a
					font-weight: 500
					font-size: 1.125em
					text-transform: uppercase
// HAMBURGER
.hamburger
	padding: 19px 0 0
	float: left
	border: 1px solid transparent
	border-bottom: 0
	width: 73px
	&.is-active
		background-color: #242424
		border-color: #474442
.hamburger-box
	width: 22px
	height: 17px
.hamburger-inner
	&, &::after, &::before
		width: 22px
		height: 3px
		background-color: $accent
	&::before
		top: -7px
.hamburger--collapse .hamburger-inner::after
	top: -14px
.hamburger-label
	display: block
	margin-left: auto
	margin-right: auto
	color: $accent
	text-transform: lowercase
	font-size: 0.875em
	font-weight: 500
	text-transform: uppercase
// END HAMBURGER
// ICON-MENU
#hidden-menu
	position: absolute
	display: none
	width: 73px
	min-width: 73px
	background-color: #242424
	border: 1px solid #474442
	border-top: 0
	margin-top: 69px
	z-index: 100
	ul
		margin: 0
		list-style: none
		padding: 0
		li
			display: block
			border-bottom: 1px solid #2b2a2a
			a
				display: block
				text-align: center
				position: relative
				height: 64px
				display: flex
				align-items: center
				justify-content: center
				&:hover span
					padding-left: 96px
					padding-right: 31px
					width: auto
					opacity: 1
				.icon-menu
					position: relative
					z-index: 10
				span
					position: absolute
					background: linear-gradient(45deg, rgba(254,0,1,1) 0%,rgba(215,34,34,1) 100%)
					width: 1px
					overflow: hidden
					height: 100%
					text-transform: uppercase
					font-weight: bold
					font-size: 1.125em
					left: 0
					top: 0
					transition: $trans
					opacity: 0
					display: flex
					align-items: center
					line-height: 1.2
#hidden-menu
	.icon-menu
		background: url(../img/sprite-menu.png)
		width: 45px
		height: 47px
		display: inline-block
		repeat: no-repeat
	.icon-menu-item-02
		background-position-x: -45px
	.icon-menu-item-03
		background-position-x: -90px
	.icon-menu-item-04
		background-position-x: -135px
	.icon-menu-item-05
		background-position-x: -180px
	.icon-menu-item-06
		background-position-x: -225px
	.icon-menu-item-07
		background-position-x: -270px
	.icon-menu-item-08
		background-position-x: -315px
	.icon-menu-item-09
		background-position-x: -360px
	.icon-menu-item-10
		background-position-x: -405px
	.icon-menu-item-11
		background-position-x: -450px
	.icon-menu-item-12
		background-position-x: -495px
	.icon-menu-item-13
		background-position-x: -540px
	.icon-menu-item-14
		background-position-x: -585px
	.icon-menu-item-15
		background-position-x: -630px
	.icon-menu-item-16
		background-position-x: -675px
	.icon-menu-item-17
		background-position-x: -720px
	.icon-menu-item-18
		background-position-x: -765px
// END ICON-MENU
.home .main-header
	height:	723px
		padding-bottom: 0
	&::after
		content: ''
		position: absolute
		width: 100%
		height: 40px
		bottom: 0
		background: radial-gradient(ellipse at center 0, transparent 72.5%, #252525 0)
		background-repeat: no-repeat
	.owl-home
		position: absolute
		top: 0
		left: 0
		height: 100%
		z-index: 0
		.item
			background-size: cover
			background-position: center center
			height: 100%
			height: 723px
			display: flex
			justify-content: center
			align-items: center
			.slide-content
				margin-top: 23px
				width: 728px
				border-left: 3px solid #fff
				padding: 37px 118px 39px 146px
				position: relative
				background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff)
				background-size: 14% 3px, 60% 3px, 71% 3px, 3px 65%
				background-repeat: no-repeat, no-repeat
				background-position: left top, right top, left bottom, right top
				.transparent-text
					position: absolute
					right: 0
					top: 0
					margin-top: -72px
					margin-right: -25%
					text-transform: uppercase
					font-weight: 800
					font-size: 6.688em
					line-height: 1
					color: rgba(255,255,255,.5)
					text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75)
					opacity: .2
				h2
					font-size: 2.500em
					font-weight: 800
					text-transform: uppercase
					letter-spacing: .8px
					margin-bottom: 11px
				p
					font-weight: 500
					line-height: 1.4
					font-size: 1.2em
				a.btn
					margin-top: 15px
	.owl-dots-wrap
		position: absolute
		bottom: 85px
		left: 0
		width: 100%
		.owl-dot
			display: inline-block
			color: #fff
			margin-right: 6px
			cursor: pointer
			background: none
			border: none
			font-weight: bold
			letter-spacing: 1px
			vertical-align: middle
			line-height: 30px
			&::after
				counter-increment: dot
				content: "0" counter(dot)
			&.active
				font-size: 1.375em
// END HEADER

// ABOUT
.about
	padding: 127px 0 116px
	p
		margin-bottom: 55px
		line-height: 1.85
		padding-right: 100px
	.about-img
		position: relative
		margin-top: 8px
		&::before
			content: ''
			position: absolute
			top: -50px
			right: -50px
			display: block
			width: 70%
			height: 80%
			background: repeating-radial-gradient(center center, #848383, #848383 1px, transparent 1px, transparent 100%)
			background-size: 16px 16px
		img
			position: relative
			max-width: 100%
// END ABOUT

// HOW TO ORDER
.how-to-order
	background: url(../img/how-to-order.jpg) center center no-repeat
	background-size: cover
	padding: 103px 0 152px
	.section-title
		margin-bottom: 36px
		.transparent-text
			left: auto
			margin-left: -25px
.how-to-order-text
	position: relative
	padding-left: 108px
	.number
		position: absolute
		left: 0
		top: 1px
		line-height: 1
		color: $accent
		font-weight: 800
		font-size: 2.500em
		letter-spacing: 2px
	h3
		text-transform: uppercase
		font-weight: 800
		margin-bottom: 5px
		font-size: 1.125em
	p
		padding-left: 4px
// END HOW TO ORDER

// DELIVERY
.delivery
	background-color: #262525
	padding: 138px 0 119px
	.section-title
		margin-bottom: 51px
		.transparent-text
			left: auto
			margin-left: -30px
.delivery-item
	height: 100%
	transition: $trans
	box-shadow: 0px 0px 15px 0px rgba(33,33,33,1)
	text-align: center
	padding: 36px 25px 28px
	background-color: #252525
	&:hover
		background-color: #212121
	img
		margin-bottom: 32px
	h3
		text-transform: uppercase
		font-weight: 600
		font-size: 1.125em
		margin-bottom: 8px
	p
		color: #888888
// END DELIVERY

// DELIVERY-CONDITION
#ya-map
	height: 100%
	[class*="ymaps-2"][class*="-ground-pane"]
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale")
		-webkit-filter: grayscale(100%)
.delivery-condition
	background-color: #1b1b1b
	position: relative
	&::before
		content: ''
		position: absolute
		right: 8px
		bottom: 16px
		display: block
		width: 315px
		height: 124px
		background: repeating-radial-gradient(center center, #848383, #848383 1px, transparent 1px, transparent 100%)
		background-size: 16px 16px
	.container-fluid
		padding: 0
	.delivery-condition-content
		position: relative
		padding: 47px 0 63px 32px
		max-width: 615px
		.section-title
			margin-bottom: 73px
			.transparent-text
				left: auto
				margin-left: -190px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: block
				padding-left: 51px
				position: relative
				margin-bottom: 37px
				&::before
					content: ''
					display: block
					position: absolute
					left: 14px
					top: 8px
					border: 7px solid transparent
					border-left: 9px solid $accent
				h4
					font-size: 1.125em
					font-weight: 600
					margin-bottom: 6px
				p
					color: #ababab
					margin-bottom: 0
// END DELIVERY-CONDITION

// PAYMENT
.payment
	background: #000304 url(../img/payment-bg.jpg) center center no-repeat
	padding: 110px 0 78px
	background-size: cover
	.section-title
		margin-bottom: 66px
		.transparent-text
			left: 55px
	.payment-item
		display: flex
		align-items: center
		img
			width: 78px
			height: 78px
		.payment-item-content
			margin-left: 28px
			h3
				margin-bottom: 8px
				font-size: 1.125em
				font-weight: 600
			p
				margin-bottom: 0
				color: #ababab
	a.btn
		margin-top: 74px
// END PAYMENT

// FOOTER
.main-footer
	background-color: #1c1c1c
	padding: 44px 0 80px
	&, a
		color: #d7d7d7
	a.custom-logo-link
		display: block
		margin-bottom: 28px
	.slogan
		max-width: 323px
	.footer-nav
		text-align: right
		margin: 6px 0 31px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: inline-block
				margin-right: 50px
				&:last-child
					margin-left: 0
				a:hover
					border-bottom: 1px solid
	.contact-block h4
		font-weight: 600
		margin-bottom: 6px
	.social
		margin-top: 19px
		text-align: right
		.fab
			font-size: 2em
		.fa-instagram
			margin-left: 18px
	.copyright
		margin-top: 48px
		font-size: 0.875em
		margin-bottom: 0
	.dev p
			font-size: 0.750em
			margin-bottom: 0
// END FOOTER

// PAGE TITLE COVER
.page-title-cover
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	padding: 16px
	overflow: hidden
	position: relative
	&::before
		content: ''
		width: 100%
		height: 100%
		background-color: rgba(0,0,0,.54)
		position: absolute
		left: 0
		top: 0
	.breadcrumbs
		color: #c2c2c2
		a
			color: #c2c2c2
			&:hover
				color: #fff
	.page-title
		text-align: center
		font-weight: 800
		font-size: 2.500em
		padding: 49px 0 32px
		margin: 0
		position: relative
		line-height: 1
		text-transform: uppercase
		&::before
			content: ''
			border-top: 3px solid #fff
			position: absolute
			left: 50%
			top: 50%
			margin-top: -30px
			margin-left: -91px
			display: block
			width: 182px
			height: 93px
			background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff)
			background-size: 3px 10%, 3px 35%, 85% 3px, 3px 25%
			background-repeat: no-repeat, no-repeat
			background-position: left top, left bottom, left bottom, right top
		.transparent-text
			text-transform: capitalize
			line-height: 1
			font-size: 1.825em
			position: absolute
			color: rgba(255,255,255,.5)
			text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75)
			opacity: .2
			left: 50%
			top: 0
			margin-top: 30px
// END PAGE TITLE COVER

// TESTIMONIAL
.testimonial-inner
	display: flex
	flex-direction: column-reverse
	position: relative
	padding-left: 134px
	margin-bottom: 11px
	.testimonial-image
		position: absolute
		left: 0
		top: 0
		img
			border-radius: 50%
	.testimonial-name
		margin-bottom: 5px
    font-size: 18px
    font-weight: 500
	.testimonial-content p
		color: #ababab
#add-testimonial
	background: #212121
	margin: 30px auto
	box-shadow: 0 2px 25px 0 rgba(0,0,0,.3)
	padding: 5% 10%
	display: none
	position: relative
	form
		display: flex
		flex-wrap: wrap
		.form-field
			width: 98%
			margin-bottom: 15px
			margin-left: auto
			margin-right: auto
			.after
				color: #adadad
				font-size: 0.750em
				margin-right: 10px
		div.field-client_name, div.field-email
			width: 48%
			margin: 1%
		label
			font-weight: 800
			&.error
				color: $accent
				font-size: 0.750em
				font-weight: normal
		input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea
			display: block
			width: 100%
	.required-notice
    margin-left: 1%
    font-size: .750em
.required.symbol::before
	content: ' * '
	color: $accent
#close-add-testimonial
	position: absolute
	right: 0
	top: 0
	padding: 15px
	font-size: 1.4em
	cursor: pointer
	color: $accent
// END TESTIMONIAL

// CATEGORY
.category-item
	text-align: center
	display: block
	padding: 10px 14px 25px
	transition: $trans
	margin: 0 auto 29px
	max-width: 359px
	.no-img
    width: 100%
    background: #000
    display: block
    line-height: 1.2
    text-transform: uppercase
    padding: 38px 0
	&:hover
		background-color: #1b1b1b
	img
		width: 100%
		margin-bottom: 9px
	h2
		font-weight: 500
		margin: 0
		font-size: 1.250em
// END CATEGORY

// PRODUCT
.fancybox-content
	background-color: #000
.fancybox-slide--html .fancybox-close-small
	width: 44px
	height: 44px
	padding: 0
	margin-right: 5px
	margin-top: 2px
.hidden-content
	padding: 31px 85px 31px 0
	width: 1238px
	max-width: 99%
	overflow: hidden
	position: relative
	.size-big-thumb-product
		width: 100%
	h3
		font-weight: normal
		font-size: 2.500em
		margin-bottom: 42px
		line-height: 1.2
	.btn
		margin-bottom: 12px
	.entry-content
		margin: 0 0 32px
		p
			color: #ababab
			font-size: 0.875em
	.product-data
		border-bottom: 1px solid #2c2b2b
		display: flex
		justify-content: space-between
		padding-bottom: 90px
		margin-bottom: 65px
		p
			margin-bottom: 0
			line-height: 20px
		.product-attribute
			display: flex
			justify-content: center
			p
				font-weight: 800
				font-size: 0.875em
				.icon-attribute
					vertical-align: top
			.quantity
				margin-left: 28px
		.product-price
			font-size: 1.875em
			font-weight: 800
			.fas
				font-size: .9em
.postview
	display: block
	transition: $trans
	text-align: center
	padding: 20px 27px 27px
	height: 100%
	border-bottom: 1px solid transparent
	&:hover
		background-color: #212121
		border-color: $accent
	img
		width: 100%
		margin-bottom: 17px
	h2
		font-weight: 600
		font-size: 1.125em
		line-height: 1.4
		margin-bottom: 14px
	p
		color: #ababab
		font-size: 0.875em
		margin-bottom: 31
	.product-attribute
		display: flex
		justify-content: center
		margin-bottom: 17px
		p
			margin-bottom: 0
			font-weight: 800
			.icon-attribute
				margin-right: 8px
				vertical-align: top
			&.quantity
				margin-left: 27px
	.price
		font-weight: 800
		font-size: 1.875em
		line-height: 1
		display: inline-block
		.fas
			font-size: .9em
// END PRODUCT

// DISCOUNT
.discount-block
	transition: $trans
	padding: 12px 28px
	margin-bottom: 60px
	&:hover
		background-color: #212121
	.discount-block-img
		position: relative
		img
			width: 100%
		span
			display: none
			position: absolute
			top: 50%
			left: 50%
			font-weight: 500
			margin-left: -48px
			margin-top: -13px
		&:hover span
			display: block
		&:hover img
			opacity: .5
	h2
		font-weight: 600
		margin-bottom: 10px
	p, h2
		font-size: 1.125em
// END DISCOUNT

//Header mobile app
.mobile-app
	position: fixed
	display: flex
	justify-content: center
	align-items: center
	padding: 24px
	top: 0
	left: 0
	z-index: 999
	min-width: 100%
	background-color: #131415
	&__close
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		left: 50%
		bottom: -25px
		width: 100px
		height: 25px
		border: none
		margin-left: -50px
		background-color: gray
		color: #fff
		font-size: .8em
		line-height: 1
		cursor: pointer
	&__logo
		margin-right: 10%
		img
			max-width: 100%
	&__btn
		background-color: $accent
		font-weight: normal
		font-size: 1.563em
		line-height: 1
		padding: 10px 20px
//END Header mobile app

// OTHER STYLE
a.btn
	background: linear-gradient(to bottom, rgba(254,0,1,1) 0%,rgba(215,34,34,1) 100%)
	font-size: 1.125em
	font-weight: 500
	padding: 15px 33px 18px
	display: inline-block
	transition: $trans
	box-shadow: 0px 0px 8px 0px rgba(255,7,7,1)
	&:hover
		box-shadow: 0px 0px 15px 0px rgba(255,7,7,1)
.section-title
	text-transform: uppercase
	font-weight: 800
	font-size: 1.875em
	margin-bottom: 60px
	position: relative
	letter-spacing: 2px
	.transparent-text
		left: 0
		top: -12px
		line-height: 1
		font-size: 2.433em
		position: absolute
		color: rgba(255,255,255,.5)
		text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75)
		opacity: .15
.ml86
	margin-left: 86px
.fa-vk
	color: #4a76a8
.fa-instagram
	background: linear-gradient(bottom left, #feb90a 20%, #eb4043 55%, #8f3792 75%)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
.social	.fab
		transition: $trans
		&:hover
			color: #fff
			background: none
			-webkit-text-fill-color: #fff
#open-mobile-menu
	color: $accent
	float: left
	font-size: 24px
	margin-right: 29px
	line-height: 1
	margin-top: 15px
	position: relative
	z-index: 200
.mobile-menu
	display: none
	position: absolute
	margin-left: -12px
	padding: 55px 0 0
	background-color: #2a2829
	width: 220px
	min-width: 173px
	z-index: 100
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5)
	ul
		margin: 0
		padding: 0
		list-style: none
		li a
			font-size: 1em
			padding: 0 16px
		.menu-item-has-children > a
			color: $accent
			display: block
			box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25)
			padding: 8px 16px 12px
			text-transform: uppercase
			&::before
				content: "\f107"
				font-family: 'Font Awesome\ 5 Free'
				font-weight: 900
				margin-right: 5px
		.menu-item-has-children
			font-size: 1em
			.sub-menu
				padding: 10px 0
				display: none
				li
					margin-bottom: 4px
				li a
					display: flex
					align-items: center
					font-size: .85em
	.icon-menu
		display: inline-block
		width: 31px
		height: 33px
		background-image: url(../img/sprite-mobile-menu.png)
		margin-right: 10px
	.icon-menu-item-02
		background-position: -32px 0
	.icon-menu-item-03
		background-position: -64px 0
	.icon-menu-item-04
		background-position: -96px 0
	.icon-menu-item-05
		background-position: -128px 0
	.icon-menu-item-06
		background-position: -159px 0
	.icon-menu-item-07
		background-position: -190px 0
	.icon-menu-item-08
		background-position: -221px 0
	.icon-menu-item-09
		background-position: -252px 0
	.icon-menu-item-10
		background-position: -283px 0
	.icon-menu-item-10
		background-position: -283px 0
	.icon-menu-item-11
		background-position: -314px 0
	.icon-menu-item-12
		background-position: -345px 0
	.icon-menu-item-13
		background-position: -378px 0
	.icon-menu-item-14
		background-position: -410px 0
	.icon-menu-item-15
		background-position: -442px 0
	.icon-menu-item-16
		background-position: -473px 0
	.icon-menu-item-17
		background-position: -504px 0
	.icon-menu-item-18
		background-position: -543px 0
.main-content
	position: relative
	overflow: hidden
	padding: 69px 0 77px
	.container
		position: relative
		&::before
			content: ''
			position: absolute
			left: -55px
			top: -33px
			display: block
			width: 315px
			height: 124px
			background: repeating-radial-gradient(center center, #848383, #848383 1px, transparent 1px, transparent 100%)
			background-size: 16px 16px
			z-index: 0
.contact-block-icon
	display: flex
	.fas
		font-size: 1.2em
		margin-right: 15px
		margin-top: 5px
.contact-page-wrap-content
	box-shadow: 0px 2px 25px 0px rgba(0,0,0,.3)
	background-color: #212121
	.contact-page-content
		padding: 44px 0 40px 23px
		max-width: 280px
		margin-left: auto
		margin-right: auto
		h4
			font-weight: normal
		.phone
			margin-bottom: 18px
		.address
			margin-bottom:  28px
		.phone, .address
			font-size: 1.250em
			font-weight: 800
			display: inline-block
			line-height: 1.4
			span
				font-weight: normal
			.fas
				color: $accent
		.fa-phone
			margin-right: 7px
		.fa-map-marker-alt
			margin: 0 8px 0 4px
		.contact-block-icon p
			margin-bottom: 9px
		.social
			text-align: center
			font-size: 1.8em
			margin-top: 14px
			a
				margin: 0 5px
			.fab
				color: #fff
				background: none
				-webkit-text-fill-color: #fff
.fw-container-fluid
	padding: 0 !important
.fw-heading-h2
	margin: 20px
	h2
		margin-bottom: 0
		.transparent-text
			left: auto
			margin-left: -11%
.delivery-h2
	margin-top: 53px
	padding-bottom: 36px
.nav-links
	text-align: center
	margin-top: 15px
	.page-numbers
		margin: 0 5px
	.current
		color: #3b3a3a
.aligncenter
	text-align: center
.icon-attribute
	background-image: url(../img/sprite-attribute.png)
	background-repeat: no-repeat
	height: 20px
	width: 22px
	display: inline-block
.ia-massa
	background-position-x: -44px
.ia-quantity
	background-position-x: -66px
.ia-white-quantity
	background-position-x: -22px
.fancybox-close-small, #close-add-testimonial
	transition: $trans
	&:hover
		transform: rotate(90deg)
.preloader
	position: relative
	height: 60px
	.loader
		width: 30px
		height: 30px
		border: 2px solid #fff
		border-radius: 50%
		border-top-color: black
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		animation: 2s spin infinite linear
@keyframes spin
	from
		transform: translate(-50%, -50%) rotate(0deg)
	to
		transform: translate(-50%, -50%) rotate(360deg)
.pepper
	display: block
	width: 37px
	height: 37px
	background: url(../img/pepper.png) 0 0 no-repeat
	position: absolute
	right: 25px
	background-size: contain
.price-stock
	color: #fff
	.old-price
		position: relative
		color: #bbbbbb
		font-weight: normal
		&::before
			content: ""
			position: absolute
			display: block
			top: 18px
			left: 0
			margin-left: -7px
			width: 120%
			height: 2px
			background: red
			transform: rotate(-14deg)
	.new-price
		margin-right: 10px
// END OTHER STYLE

@import "media" // Always at the end
